* {
    margin: 0;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        position: absolute;
        width: 6px;
        height: 5px;
    }
    &::-webkit-scrollbar-track {
        background: $scroll-background;
        cursor: pointer;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $scroll-tracker;
        border-radius: $brs;
    }
}

body {
    font-family: 'Signika', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.page-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.card-title {
    font-size: 1rem;
    font-weight: 600;
}
