* {
    margin: 0;
    box-sizing: border-box;

    /** Firefox Scroll */
    scrollbar-width: thin;
    scrollbar-color: $scroll-tracker $scroll-background;
}

/**
 * https://www.digitalocean.com/community/tutorials/css-scrollbars-pt
 */
*::-webkit-scrollbar {
    width: 8px;
} 
*::-webkit-scrollbar-track {
    background: $scroll-background;
}
*::-webkit-scrollbar-thumb {
    background-color: $scroll-tracker;
    border-radius: 20px;
    border: 3px solid $scroll-background;
}


body {
    font-family: 'Barlow', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.page-title {
    font-size: 3.5rem;
    font-weight: 700;
}

.card-title {
    font-size: 1rem;
    font-weight: 600;
}
